
.container{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.wrapper{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    justify-items: "center",
}