.container {
    /* background-color: red; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    margin:0 auto;
}
.card{
    background-color: #d6a2cc;
    border-radius: 25px;
    max-width: 60%;
    min-height: 320px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    position: relative;
}
.heading{
    font-size: 3rem;
    font-family: 'Chewy';
}

.question {
    font-size: 28px;
    font-family: 'Gaegu';
    text-align: center;
    color: #0968f6;
  }

  .question-heading {
    font-size: 34px;
    font-family: 'Chewy';
    text-align: center;
    color: #0968f6;
  }

  .input-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto;
  }

  .input-main{
    display: flex;
    align-items: center;
    margin: auto 0;
    text-align: center;
  }

  .input-text{
    font-size: 20px;
    margin-left: 10px;
    padding-top: 5px;
    font-family: 'Gaegu';
    text-align: center;
    color: #0968f6;
  }

  .btn{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
   position: absolute;
   bottom: 20px;
    
  }



  @media only screen and (min-width: 760px) and (max-width: 1080px) {
    .card {
      margin: auto;
      min-width: 70%;
      max-width: 70%;

    }
  }
  
  @media only screen and (min-width: 200px) and (max-width: 760px) {
    .card {
      margin: auto;
      min-width: 80%;
      max-width: 80%;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 760px) {
    .input-container {
      min-width: 85%;
    }
  }


  @media only screen and (min-width: 200px) and (max-width: 760px) {
    .question {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 760px) {
    .input-text {
      padding-top: 3px;
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 760px) {
    .question-heading {
      font-size: 24px;
    }
  }