body {
  font-family: 'Gaegu';
  background-color: #ccd9f6;
}

img{
  position:absolute;
  width: 90%;
  height: 70%;
  left:70px;
  top:390px;
}

nav {
  color: #FAE87C;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

.dot {

  border-radius: 50%;
  position: absolute;

  z-index: -1;
}


nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #FAE87C;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  margin-top: 10vh;
  color: #0968f6;
  padding: 5rem;
  font-family: 'Chewy-Regular';
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  font-family: 'Chewy';
  letter-spacing: 2.3px;
  margin-bottom: 2rem;
}

.hero-section p {
  font-size: 1.4rem;
  font-family: 'Gaegu';
  margin-bottom: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.hero-section button {
  background-color: #6A7DFF;
  color: #fff;
  border: none;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-family: 'Galano Classic DEMO';
  letter-spacing: 0.05rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 1s;
}

.hero-section button:hover {
  background-color: #1130ff;
  transition: background-color 0.2s;
}